{% extends 'layout.html.twig' %}

{% block title %}Be Elect{% endblock %}

{% block page_contents %}
<section class="my-5 container">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{ "Tout le détail des : <span class=\"text-secondary\">élections</span> est sur Be-Elect" | trans | raw
                }}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sunt ipsam, enim repudiandae, dicta,
                saepe hic sapiente ducimus esse necessitatibus nam velit tenetur ullam fuga! Vitae recusandae aspernatur
                illo officia?</p>
        </div>
        <div class="col-lg-4 d-flex align-self-center">
            <img src="{{ asset('img/homepage/election.svg') }}" class="w-100 illustration" alt="{{ " illustration de
                vote" | trans }}" />
        </div>
    </div>
</section>
<section class="section-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center py-5 text-light search-part">
                <img src="{{ asset('img/homepage/search_icon.svg') }}" alt="search icon" />
                <h3 class="my-2">{{ "Je trouve mon parti politique en 1 clic :" | trans }}</h3>
                <select type="text" placeholder="{{ " Cherchez ici le nom du parti politique (exemple : PS)" }}"
                    class="form-control basicAutoSelect" id="searchParti" autocomplete="off"
                    data-url="{{ path('partisJson') }}"></select>
            </div>
            <div class="col-lg-5 text-center py-3 random-part">
                <h3>{{ "Un parti politique au hasard" | trans }}</h3>
                {% include 'parti/_card-random.html.twig' with { 'parti': randomParti} %}
            </div>
        </div>
    </div>
</section>

<section class="container text-center my-3 py-3">
    <h2>{{ "Découvrir les élections passées" | trans }}</h2>
    <p>Staré Město (en allemand : Altstadt) est une ville du district de Šumperk, dans la région d'Olomouc, en Tchéquie.
        Sa population s'élevait à 1 712 habitants en 20201.Géographie
        Staré Město se trouve à 21 km au nord de Šumperk, à 67 km au nord-nord-ouest d'Olomouc et à 180 km à l'est de
        Prague2.

        La commune est limitée par la Pologne au nord, par Ostruzna, Branná, Šléglov et Vikantice à l'est, par
        Jindřichov et Hanušovice au sud, et par Malá Morava et Dolní Morava à l'ouest3.

        Histoire
        La localité a été fondée au xiiie siècle. Elle tire son ancien nom, Goldeck, des mines d'or et d'argent qui y
        étaient exploitées au Moyen Âge.
    </p>
    {# TODO Boucle avec card des élections #}
    <a href="{{path('elections')}}" class="btn btn-secondary">{{"Voir toutes les élections" | trans }}</a>
</section>

<section class="container">
    <h2>TODO nom élection, {{ "découvrez la carte et le résultat des votes" | trans }}</h2>
    <div class="outer">
        <div class="inner">
            <div id="map" class="bg-primary text-end pe-5">
                <h3>{{ "Carte" | trans }}</h3>
                <canvas id="mapMap"></canvas>
            </div>
            <div class="switcher-bg">
                <div id="switcherMap" class="d-flex align-items-center justify-content-center">
                    <img src="{{ asset('img/homepage/arrow.svg') }}" />
                </div>
            </div>
            <div id="donut" class="bg-grey ps-5">
                <h3>{{ "Graphique" | trans }}</h3>
                <div class="canvas-container d-flex align-items-center justify-content-center">
                    <canvas id="donutGraph">
                    </canvas>    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <h2>{{ "Zoom sur les 6 parties majeurs" | trans }}</h2>
    <div class="row border-between gy-5">
        {% for parti in partis %}
        <div class="col col-12 col-md-6 col-lg-4">
            {% include 'parti/_card.html.twig' %}
        </div>
        {% endfor %}

    </div>
</section>
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('map') }}
{% endblock %}