{% extends 'layout.html.twig' %}

{% block title %}{{"Base de données intéractive" | trans }}{% endblock %}

{% block page_contents %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <select id="selectParti" class="form-select filterSelect" multiple>
            </select>
        </div>
        <div class="col-lg-6">
            <select id="selectElection" class="form-select filterSelect" multiple>
            </select>
        </div>
        <div class="col-lg-4">
            <select id="selectRegion" class="form-select filterSelect" multiple>
            </select>
        </div>
        <div class="col-lg-4">
            <select id="selectProvince" class="form-select filterSelect" multiple>
            </select>
        </div>
        <div class="col-lg-4">
            <select id="selectCanton" class="form-select filterSelect" multiple>
            </select>
        </div>
        <div class="col-lg-4">
            <select id="selectArrondissement" class="form-select filterSelect" multiple>
            </select>
        </div>
        <div class="col-lg-4">
            <select id="selectCommune" class="form-select filterSelect" multiple>
            </select>
        </div>
    </div>
    <table id="table" data-show-refresh="true" data-show-toggle="true" data-show-fullscreen="true" data-show-columns="true"
        data-show-columns-toggle-all="true" data-show-export="true" data-show-pagination-switch="true"
        data-pagination="true" data-page-size="30" data-page-list="[10, 50, 100, 300, all]" data-toggle="table"
        data-height="700" data-ajax="ajaxRequest" data-sortable="true" data-side-pagination="server"
        data-pagination="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="id">ID</th>
                <th data-sortable="true" data-field="numberBallot">{{ "Nombre votes" | trans }}</th>
                <th data-sortable="true" data-field="percent">{{ "Pourcentage" | trans }}</th>
                <th data-field="idElection.name">{{ "Election" | trans }}</th>
                <th data-field="idParty.name">{{ "Parti" | trans }}</th>
                <th data-field="idRegion.name">{{ "Region" | trans }}</th>
                <th data-field="idProvince.name">{{ "Province" | trans }}</th>
                <th data-field="idArrondissement.name">{{ "Arrondissement" | trans }}</th>
                <th data-field="idCanton.name">{{ "Canton" | trans }}</th>
                <th data-field="idCommune.name">{{ "Commune" | trans }}</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}