<div class="card parti-card-random">
    <div class="row g-0">
        <div class="col-md-3 d-flex align-items-center justify-content-center">
            <div class="logo-parti mt-2 mt-md-0">
                {% include 'global/image.html.twig' with { 'src': 'img/parti/' ~ parti.logo,
                'alt': "logo de %nom%" | trans({"%nom%": randomParti.name}) ,
                'class': 'logo-random-card',
                'sizes': '(max-width: 768px) 16vw, (max-width: 992px) 15vw, 10vw'} %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-body text-start">
                <h4 class="card-title">{{ randomParti.name }}</h4>
                <hr>
                <p class="card-text">{{ "Président : " | trans }}{{ randomParti.president }}</p>
                <a href="{{ path('parti', {slug : randomParti.slug })}}" class="btn btn-secondary">{{ "Découvrir son
                    activité" | trans }}</a>
            </div>
        </div>
    </div>
</div>