<div class="card text-center parti-card">
    {% include 'global/image.html.twig' with { 'src': 'img/parti/' ~ parti.logo, 
    'alt': "logo de %nom%" | trans({"%nom%": parti.name}), 
    'class': 'card-img-top mx-auto mt-3',
    'sizes': '(max-width: 768px) 33vw, (max-width: 992px) 20vw, 16vw'} %} 
    <div class="card-body">
        <h4 class="card-title">{{ parti.name }}</h4>
        <p class="card-text">{{ parti.description | trans | raw }}</p>
        <a href="{{ path('parti', {slug : randomParti.slug })}}" class="btn"
            style="background-color:{{parti.colorBg}}; color:{{parti.color}}">
            {{ "A propos du parti" | trans }}</a>
    </div>
</div>