{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}GRP Be Elect
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header>
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="mx-5 navbar-brand" href="#">Be-Elect</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{{path('homepage')}}">{{ "Accueil" | trans }}</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="{{path('ressource')}}">{{ "Ressources" | trans }}</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									{{ "Partis" | trans }}
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href="{{path('partis')}}">{{ "Tous les partis" | trans }}</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Another action</a>
									</li>
									<li><hr class="dropdown-divider"></li>
									<li>
										<a class="dropdown-item" href="#">Something else here</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
				<li>
					<a href="{{path('elections')}}">{{ "Elections" | trans }}</a>
				</li>
				<li>
					<a href="{{path('about')}}">{{ "A propos" | trans }}</a>
				</li>
				<button class="primary btn btn-primary">COUCOU</button>
			</nav>
		</body>
	</html>
</header>

<div id="content">
	{% block content %}{% endblock %}
</div>{% endblock %}</body></html>
